* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;

  /*background: -color -image -repeat -position/size */
  --bg-url: url(./assets/bg-mobile.jpg) no-repeat top center/cover;

  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);

  --stroke-color-hover: rgba(0, 0, 0, 1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);

  --highlight-color: rgba(255, 255, 255, 0.2);

  --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg) no-repeat top center/cover;

  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);

  --stroke-color-hover: rgba(0, 0, 0, 1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);

  --highlight-color: rgba(255, 255, 255, 0.4);

  --switch-bg-url: url(./assets/Sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  background: var(--bg-url);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  /* border: 1px solid red; */
  margin: 56px auto auto auto;
  padding: 0px 24px;
}

/* profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  /* color: whitesmoke; */
  font-family: "Inter";
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;

  background: white var(--switch-bg-url) no-repeat center;

  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;

  width: 64px;
  height: 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  /* border: 1px solid red; */
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}

/* pseudo-selector */
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1px solid var(--stroke-color-hover);
}

/* social links */

#social-links {
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  gap: 32px;

  padding: 24px 0px;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  /* color: white; */

  padding: 24px 0;
  text-align: center;
}
